<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inicio{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'authors' %}">Autores</a></li>
            <li><a href="{% url 'category' %}">Categorias</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
        </ul>
    </nav>

    <h1>Bienvenido a mi WEB</h1>

    {% block content %}

    {% endblock %}

    <footer>Pie de pagina</footer>
</body>
</html>